/* parte do header */
header {
  background-color: transparent;
  padding: 15px 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #e50914;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo:hover {
  color: #f40612;
  transform: scale(1.02);
}

/* Menu */
.menu {
  list-style: none;
  display: flex; /* Alinha os itens horizontalmente */
  gap: 15px;     /* Espaçamento entre os botões */
  padding: 0;
  margin: 0;
}

.menu li a {
  display: inline-block;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* Hover minimalista */
.menu li a:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
/*fecho o header*/


html, body {
    height: 100%;             
    margin: 0;                
    padding: 0;               
}

body {
    background: #000 url('../img/background.jpg') center/cover no-repeat;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Container */
.container {
    min-height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    padding: 70px 50px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.7);
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* h1 e h2 do card */
.card h1 {
    font-size: 2.2rem;
    margin: 0;
    color: #fff;
}

.card h2 {
    font-size: 1rem;
    margin: 6px 0 0 0;
    color: #b3b3b3;
}

/* Botão do card */
.btn-group .btn {
    display: inline-block;
    padding: 14px 18px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    font-weight: bold;
    transition: 0.3s;
}

.btn-group .btn:hover {
    background-color: #444;
}

/*parte do rodape*/
footer {
    text-align: center;
    padding: 15px;
    background: transparent;
    color: #ccc;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/*fecho o rodape*/

/*responsivo*/
  @media (max-width: 768px) {
    .logo {
      font-size: 24px;
    }
  
    .menu li a {
      padding: 8px 12px;
      font-size: 14px;
    }
  
    .movie-image {
      height: 300px;
    }
  }
  
